In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('d:\Z-Games/furniture retail analysis\online_furniture_retailer.csv')

<>:1: SyntaxWarning: invalid escape sequence '\Z'
<>:1: SyntaxWarning: invalid escape sequence '\Z'
C:\Users\micro\AppData\Local\Temp\ipykernel_7676\788709921.py:1: SyntaxWarning: invalid escape sequence '\Z'
  df=pd.read_csv('d:\Z-Games/furniture retail analysis\online_furniture_retailer.csv')

In [4]:
df.head()

,product_category,product_subcategory,brand,delivery_status,assembly_service_requested,payment_method,order_id,customer_id,product_price,shipping_cost,assembly_cost,total_amount,delivery_window_days,customer_rating
0,Outdoor,Patio Set,World Market,Failed Delivery,True,Credit Card,93810,2824,191.27,45.63,86.82,323.72,11,3.2
1,Living Room,Sofa,West Elm,Cancelled,True,Apple Pay,13278,5506,702.87,52.65,183.07,938.59,10,4.5
2,Dining Room,Bar Stool,Ashley Furniture,Delivered,False,Cash on Delivery,42098,4657,395.41,96.79,0.00,492.20,2,NaN
3,Dining Room,China Cabinet,HomeGoods,Pending,False,Google Pay,28289,2679,602.59,0.00,0.00,602.59,9,NaN
4,Dining Room,China Cabinet,CB2,Pending,True,Apple Pay,98696,9935,1782.36,69.23,41.53,1893.12,13,1.3

In [5]:
df.columns=(df.columns.str.replace("_"," ").str.capitalize())
df['Customer rating']=df["Customer rating"].fillna(int(df["Customer rating"].mean()))
for col in df.select_dtypes('object'):
    df[col]=df[col].str.capitalize().str.replace("/.,\-_';[]()"," ").str.strip()
df.head()

<>:4: SyntaxWarning: invalid escape sequence '\-'
<>:4: SyntaxWarning: invalid escape sequence '\-'
C:\Users\micro\AppData\Local\Temp\ipykernel_7676\3473449724.py:4: SyntaxWarning: invalid escape sequence '\-'
  df[col]=df[col].str.capitalize().str.replace("/.,\-_';[]()"," ").str.strip()

,Product category,Product subcategory,Brand,Delivery status,Assembly service requested,Payment method,Order id,Customer id,Product price,Shipping cost,Assembly cost,Total amount,Delivery window days,Customer rating
0,Outdoor,Patio set,World market,Failed delivery,True,Credit card,93810,2824,191.27,45.63,86.82,323.72,11,3.2
1,Living room,Sofa,West elm,Cancelled,True,Apple pay,13278,5506,702.87,52.65,183.07,938.59,10,4.5
2,Dining room,Bar stool,Ashley furniture,Delivered,False,Cash on delivery,42098,4657,395.41,96.79,0.00,492.20,2,3.0
3,Dining room,China cabinet,Homegoods,Pending,False,Google pay,28289,2679,602.59,0.00,0.00,602.59,9,3.0
4,Dining room,China cabinet,Cb2,Pending,True,Apple pay,98696,9935,1782.36,69.23,41.53,1893.12,13,1.3

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1938 entries, 0 to 1937
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Product category            1938 non-null   object
 1   Product subcategory         1938 non-null   object
 2   Brand                       1842 non-null   object
 3   Delivery status             1938 non-null   object
 4   Assembly service requested  1938 non-null   bool
 5   Payment method              1938 non-null   object
 6   Order id                    1938 non-null   int64
 7   Customer id                 1938 non-null   int64
 8   Product price               1938 non-null   float64
 9   Shipping cost               1880 non-null   float64
 10  Assembly cost               1900 non-null   float64
 11  Total amount                1938 non-null   float64
 12  Delivery window days        1938 non-null   int64
 13  Customer rating             1938 non-null   float64
dtypes: bool(1), float64(5), int64(3), object(5)
memory usage: 198.8+ KB

In [7]:
df.to_csv("online_furniture_retailer for BI")